* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F5F5F1;;
}

h2 {
    font-family: 'Lora', serif;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.col {
    flex-basis: 300px;
    flex-grow: 1;
}

.card {
    background-color: white;
    text-align: center;
}